<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Docker Monitor</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">

    <style>
      table {
        table-layout: fixed;
        width: 100%;
      }

      th, td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    </style>

    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js" integrity="sha512-NSq6KesHv50/B8aBt9xTK4xJw/wfGmZj3T3Ly7G8d8MkeUk/1LF3V aq/5nzE/2lntF6iVY+cPJ4T1kZJT8F4Uw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
      var socket = io.connect('http://' + document.domain + ':' + location.port);

      socket.on('connect', function() {
        console.log('Connected to server');
      });

      socket.on('container_status', function(data) {
        console.log('Container status changed:', data);

        var row = $('#' + data.id).find('td');
        row.eq(1).text(data.name);
        row.eq(2).text(data.status);

        if (data.status == 'removed') {
          row.parent().remove();
        }
      });

      socket.on('container_stopped', function(data) {
        console.log('Container stopped:', data);
        showAlert('danger', `Container ${data.name} has stopped!`);
      });

      $(document).ready(function() {
        socket.emit('connect');
      });

      function showAlert(icon, message) {
        Swal.fire({
          icon: icon,
          title: 'Alert',
          text: message,
          timer: 3000
        });
      }
    </script>
  </head>
  <body style="background: url('https://source.unsplash.com/1600x900/?clouds,sky') no-repeat center center fixed; background-size: cover;">
    <div class="container">
      <h1>Docker Monitor</h1>
      <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody id="containers">
          {% for container in containers %}
          <tr id="{{ container.id }}">
            <td>{{ container.id }}</td>
            <td><i class="fas fa-docker"></i> {{ container.name }}</td>
            <td>{{ container.status }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

  <form id="notification-form">
  <label for="containers">Containers:</label><br>
  <textarea id="containers" name="containers" rows="10" cols="50">
    {% for container in containers %}
      {{ container.name }}
      {% if not loop.last %}
        ,
      {% endif %}
    {% endfor %}
  </textarea><br>
  <input type="submit" value="Update Notifications">
</form>
